{% extends "base.html.twig" %}

{% block body %}
    <h1> Bienvenue dans ce blog </h1>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa atque provident, optio sint a excepturi saepe ratione deleniti rem quos mollitia aliquid cum beatae quasi error, corrupti consectetur iusto recusandae?Atque odit quis quo? Illum officia in iure rerum, facere officiis quia, optio ad animi libero aperiam numquam nisi eligendi architecto ipsam iste ipsum modi! Consequatur atque voluptates tempora incidunt.

    </p>

{% endblock %}